<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Shop Easy</title>
</head>
<body style="font-family: Arial, sans-serif; line-height:1.6;">
<h2>Welcome to Shop Easy! 🎉</h2>

<p>Hi <strong>{{name}}</strong>,</p>
<p>
    Welcome to Shop Easy!
</p>
<p>
    Your account has been created successfully.
</p>
<p>
    We’re excited to have you with us. Start exploring thousands of products and enjoy a seamless shopping experience.
</p>
<p>
    Happy Shopping!
</p>

<p>
    <strong>Team Shop Easy.</strong>
</p>

</body>
</html>